// Colors
$color-primary: #f96424;
$color-secondary: #4b3589;
$color-gray-100: #f1f1f1;
$color-gray-200: #dbdbdb;
$color-gray-300: #bebebe;
$color-gray-400: #a3a3a3;
$color-gray-500: #646464;

// Fonts
$font-primary: 'Inter', sans-serif;

// Easings
$easing-primary: cubic-bezier(0.5, 0, 0.17, 1);

// Inputs
$input-height: 48px;

// Border radius
$border-radius: 10px;

// Header height
$header-height: 70px;
