@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url('~@/assets/fonts/material-icons/material-icons-regular.woff2') format('woff2');
}

.material-icons {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Material Icons';
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
}
